{% extends 'templates/base.admin.twig' %}

{% block body %}


    <main class="container-fluid">

        <h1 class="h3 mb-3">
            Venue Promotions
        </h1>

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ path('panel/home') }}">Home</a></li>
                <li class="breadcrumb-item"><a href="{{ path('panel/venues/home') }}">My Venues</a></li>
                <li class="breadcrumb-item active" aria-current="page">Promotions</li>
            </ol>
        </nav>

        <section class="card">
            <div class="card-body">
                <a class="btn btn-secondary mb-3" href="{{ path('panel/venue-promotions/create?venue=' ~ venue.id) }}">Add Promotion</a>

                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name or Description</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Image</th>
                        <th>Venue Name</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                    </thead>

                    <tbody>
                    {% for element in data %}
                        <tr>
                            <td>{{ element.id }}</td>
                            <td>{{ element.name }}</td>
                            <td>{{ element.start_date }}</td>
                            <td>{{ element.end_date }}</td>
                            <td>
                                <img src="{{ asset_for(element.image) }}" class="img-thumbnail" width="100px" alt="venue-image-{{ element.id }}">
                            </td>

                            <td>
                                {{ venue.name }}
                            </td>
                            <td>
                                <a href="{{ path('panel/venue-promotions/edit?id=' ~ element.id ~ "&venue=" ~element.venue_id)  }}">Edit</a>
                            </td>

                            <td>
                                <form method="post" form-delete>
                                    <input type="hidden" name="action" value="delete" />
                                    <input type="hidden" name="id" value="{{ element.id }}">

                                    <button type="submit" class="btn btn-danger">Delete</button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </section>

    </main>
{% endblock %}
