<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>
        {% block title %}
            Index
        {% endblock  %}
    </title>

    <link rel="stylesheet" href="{{ asset_for('template/css/app.css') }}" />
    <link rel="shortcut icon" href="{{ asset_for('template/img/icons/icon-48x48.png') }}" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap" rel="stylesheet" />

    {% block styles %}
    {% endblock %}
</head>
<body>

    {% block body %}
    {% endblock %}

    <script src="{{ asset_for('template/js/app.js') }}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key={{ env.GOOGLE_KEY }}&loading=async&libraries=places&callback=initMap"></script>
    <script src="{{ asset_for('assets/js/googleMaps.js') }}" ></script>
    <script>
        function formatNumber(elm) {
            let value = elm.value.replace(/\D/g, ""); // Remove non-numeric characters

            if (value.startsWith("1")) {
                value = "+" + value; // Ensure +1 is kept
            } else if (value.length > 0) {
                value = "+1" + value; // Add +1 if not present
            }

            if (value.length > 2 && value.length <= 5) {
                value = `${value.slice(0, 2)} (${value.slice(2)}`;
            } else if (value.length > 5 && value.length <= 8) {
                value = `${value.slice(0, 2)} (${value.slice(2, 5)}) ${value.slice(5)}`;
            } else if (value.length > 8) {
                value = `${value.slice(0, 2)} (${value.slice(2, 5)}) ${value.slice(5, 8)}-${value.slice(8, 12)}`;
            }

            elm.value = value;
        }
        document.addEventListener('DOMContentLoaded', () => {
            {% if alertMessage is not null %}
                setTimeout(() => {
                    alert('{{ alertMessage.message }}')
                }, 1)
            {% endif %}

            document.querySelectorAll("[data-phone]").forEach(elm => {
                formatNumber(elm)
                elm.addEventListener("input", () => formatNumber(elm))
            })
        })
    </script>

    {% block scripts %}{% endblock %}


</body>
</html>